@using Web.Extensions
@model Web.ViewModels.CaseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Read-only information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CourtName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CourtName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NameResponsible)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NameResponsible)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.CaseNumber">Edit</a>
    <a class="btn btn-info" asp-action="Index">Back</a>
</div>
